.collection .collection-item:nth-child(odd){
    background-color: grey; 
    text-transform: uppercase;
}
.collection .collection-item:nth-child(even){
    background-color:white; 
    text-transform: uppercase;
}
.fa{
    font-size: 1.4rem;
}
/* .c1:nth-child(odd){
    background-color: gray;
} */